

/* jyadmin 自定义表单样式 START */
.jy-dialog .el-dialog {
  border-radius: 13px;
  border: 1px solid #ccc;
}
.jy-dialog .el-dialog__header {
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
  color: #333;
}
.jy-dialog .el-dialog__body {
  padding: 20px;
}
.jy-dialog .el-dialog__footer {
  padding: 15px 20px;
  border-top: 1px solid #ccc;
}
/* jyadmin 自定义表单样式 END */

/* jyadmin message-box 样式修改 START */
.jy-message-box {
  border-radius: 13px;
  border: 1px solid #ccc;
}
/* jyadmin message-box 样式修改 END */

/* jyadmin table 选中行颜色 START */
.el-table__body tr.current-row>td{
  background-color: #E6F5F3 !important;
  // color: #fff;
}
.el-table tbody tr:hover > td {
   background-color: #F5F7FA !important;
  // color: #ffffff;
}
/* jyadmin table 选中行颜色 END */

/* jyadmin card START */
.jy-card-query {
  width: 100%;
}
.jy-card-content {
  width: 100%;
}
/* jyadmin card END */

/* jyadmin drawer START */
.jy-drawer .el-drawer {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border: 1px solid #ccc;
}
.jy-drawer .el-drawer__header {
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
  color: #333;
  margin-bottom: 0;
  line-height: 24px !important;
  font-size: 18px !important;
}
.jy-drawer .el-drawer__body {
  padding: 20px;
}

/* jyadmin drawer END */
